{% extends "template.html" %}

{% block title %}Liste des Vols{% endblock title %}

{% block h1 %}Liste des Vols{% endblock h1 %} 



{% block content %}
<div class="d-grid gap-2 col-6 mx-auto">

    <a class=" justify-content-md-center btn btn-success" href="/vol/ajout">Ajouter un vol</a>
</div>
    <table class="table is-fullwidth is-hoverable">
        <thead>
        <tr>
            <th><abbr title="ID">ID</abbr></th>
            <th>Avion</th>
            <th>Pilote</th>
            <th>De</th>
            <th>À</th>
            <th>Départ</th>
            <th>Arrivée</th>
            <th class="text-end">Actions</th>
        </tr>
        </thead>
        {% for vol in vols %}
        <tbody>
        <tr>
            <td><a  class="ID"  href="">{{vol.idvol}}</a></td>
            <td>{{vol.idavion.idmodele.nommodele}} de {{vol.idavion.idcompagnie.nomcompagnie}}</td>
            <td>{{vol.pilotevol}}</td>
            <td>{{vol.idaeroportdepart.nomaeroport}}, {{vol.idaeroportdepart.paysaeroport}}</td>
            <td>{{vol.idaeroportarrivee.nomaeroport}}, {{vol.idaeroportarrivee.paysaeroport}}</td>
            <td>{{vol.datedepartvol}}</td>
            <td>{{vol.datearriveevol}}</td>
            <td class="text-end">
                {% comment %} <a type="button" class="btn btn-primary" href="/avion/details/{{avion.idavion}}/">Détails</a> {% endcomment %}
                <a type="button" class="btn btn-secondary" href="/vol/modif/{{vol.idvol}}">Modifier</a>
                <a type="button" class="btn btn-danger" href="/vol/suppr/{{vol.idvol}}">Supprimer</a>
            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
    
{% endblock content %}