<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <link rel="stylesheet" href='index.css'>
    <title>Ajout</title>
</head>
<body>
    <h1> ajout d'une piste</h1>
    <form method="post" action="/traficaerien/traitement_piste/">
        {% csrf_token %} <!-- code permettant de protéger votre application en évitant
de rejouer un formulaire avec des droits différents -->
        {{ form.as_ul }} <!-- permet d'afficher tous les champs sous forme d'une liste
-->
        <input type="submit" value="Ajouter">
    </form>
</body>
</html>
