

{% block content %}

<div>
    <h2>La liste des vols</h2>
    <p><a href='/trafic/'> Retour au menu</a></p>
    <p><a href='/trafic/ajout_vol/'> Ajouter un vol</a></p>
    <ul>
    {% for vol in liste_vol%}

        <div>
          <div>
            {{ vol }}
          </div>
          <div>
            <ul>
                <li>{{vol.style}}</li>
                <p> </p>
                {% for l in liste%}
                {%if l.vol == vol %}
                <li> {{l}} </li>
                {% endif %}
                {% endfor %}
                <a href="/trafic/delete_vol/{{vol.id}}/" type="button" > Delete </a>
            </ul>

          </div>
        </div>

    {% empty %}
    Votre base de données est vide ! <a href='/trafic/ajout_vol/'> Ajouter le premier vol</a>.
    {% endfor %}
    </ul>
</div>

{% endblock %}
