<!DOCTYPE html>

<html lang="fr">
<head>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{%static "favicon.ico"%}">
    <link rel="stylesheet" type="text/css" href="{%static "bootstrap/css/bootstrap.css"%}">
    <link rel="stylesheet" type="text/css" href="{%static "index.css"%}">
    <title>{% block title %} SAE23 {% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Projet SAÉ23</a>
          <div class="navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">Main</a>
              {% block navbar %}
              {% endblock navbar %}
            </div>
          </div>
        </div>
      </nav>
    
    <div id="content">
        <h1 class="maint-title">{% block h1 %}{% endblock h1 %}</h1>
        {% block content %}
        {% endblock %} 
    </div>
</body>
</html>
