

{% block content %}

<div>
    <h2>La liste des compagnies</h2>
    <p><a href='/trafic/'> Retour au menu</a></p>
    <p><a href='/trafic/ajout_compagnie/'> Ajouter une compagnie</a></p>
    <ul>
    {% for compagnie in liste_compagnie%}

        <div>
          <div>
            {{ compagnie }}
          </div>
          <div>
            <ul>
                <li>{{compagnie.style}}</li>
                <p> </p>
                {% for l in liste%}
                {%if l.compagnie == compagnie %}
                <li> {{l}} </li>
                {% endif %}
                {% endfor %}
                <a href="/trafic/delete_compagnie/{{compagnie.id}}/" type="button" > Delete </a>
            </ul>

          </div>
        </div>
    {% endfor %}
    </ul>
</div>

{% endblock %}
