{% extends "template.html" %}

{% block title %}Liste des Compagnies{% endblock title %}

{% block h1 %}Liste des Compagnies{% endblock h1 %} 

{% block navbar %}
<a class="nav-link" href="/compagnie/ajout">Ajouter une compagnie</a>
{% endblock navbar %}

{% block content %}
    <table class="table is-fullwidth is-hoverable">
        <thead>
        <tr>
            <th><abbr title="ID">ID</abbr></th>
            <th>Nom de la compagnie</th>
            <th>Description</th>
            <th>Pays</th>
            <th class="text-end">Actions</th>
        </tr>
        </thead>
        {% for compagnie in compagnies %}
        <tbody>
        <tr>
            <td><a href="">{{compagnie.idcompagnie}}</td>
            <td>{{compagnie.nomcompagnie}}</td>
            <td>{{compagnie.descricompagnie}}</td>
            <td>{{compagnie.payscompagnie}}</td>
            <td class="text-end">
                {% comment %} <a type="button" class="btn btn-primary" href="/avion/details/{{avion.idavion}}/">Détails</a> {% endcomment %}
                <a type="button" class="btn btn-secondary" href="/compagnie/modif/{{compagnie.idcompagnie}}">Modifier</a>
                <a type="button" class="btn btn-danger" href="/compagnie/suppr/{{compagnie.idcompagnie}}">Supprimer</a>
            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
    
{% endblock content %}

{% comment %} {% block content %}

<div>
    <h2>La liste des compagnies</h2>
    <p><a href='/trafic/'> Retour au menu</a></p>
    <p><a href='/trafic/ajout_compagnie/'> Ajouter une compagnie</a></p>

    <table class="table is-fullwidth is-hoverable">
      <thead>
      <tr>
          <th><abbr title="ID">ID</abbr></th>
          <th>Nom</th>
          <th>Description</th>
          <th>Pays</th>
          <th class="text-end">Actions</th>
      </tr>
      </thead>
      {% for compagnie in liste_compagnie%}
      <tbody>
      <tr>
          <td><a href="/ver/details/{{ver.id}}/">{{ver.id}}</td>
          <td>{{compagnie.nomcompagnie}}</td>
          <td>{{compagnie.descricompagnie}}</td>
          <td>{{compagnie.payscompagnie}}</td>
          <td class="text-end">
              <a type="button" class="btn btn-danger" href="/trafic/delete_compagnie/{{compagnie.id}}/">Supprimer</a>
          </td>
      </tr>
      </tbody>
      {% endfor %}
    </table>  
</div>

{% endblock %} {% endcomment %}
