{% extends "template.html" %}

{% block title %}Liste des Pistes{% endblock title %}

{% block h1 %}Liste des Pistes{% endblock h1 %} 



{% block content %}
<div class="d-grid gap-2 col-6 mx-auto">

    <a class=" justify-content-md-center btn btn-success" href="/piste/ajout">Ajouter une piste</a>
</div>
    <table class="table is-fullwidth is-hoverable">
        <thead>
        <tr>
            <th><abbr title="ID">ID</abbr></th>
            <th>Longueur de la piste</th>
            <th>Aéroport</th>

            <th class="text-end">Actions</th>
        </tr>
        </thead>
        {% for piste in pistes %}
        <tbody>
        <tr>
            <td><a href="">{{piste.idpiste}}</a></td>
            <td>{{piste.longueurpiste}}</td>
            <td>{{piste.idaeroport.nomaeroport}}, {{piste.idaeroport.paysaeroport}}</td>

            <td class="text-end">
                {% comment %} <a type="button" class="btn btn-primary" href="/avion/details/{{avion.idavion}}/">Détails</a> {% endcomment %}
                <a type="button" class="btn btn-secondary" href="/piste/modif/{{piste.idpiste}}">Modifier</a>
                <a type="button" class="btn btn-danger" href="/piste/suppr/{{piste.idpiste}}">Supprimer</a>
            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
    
{% endblock content %}